---
layout: wrapper
---

{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="{{ site.github_username }}/modulandostars-files"
        data-repo-id="R_kgDORBDkLg"
        data-category="giscus"
        data-category-id="DIC_kwDORBDkLs4C2XiS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="purple_dark"
        data-lang="pt"
        crossorigin="anonymous"
        async>
</script>